<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EdlinSoftware.MemoryCards.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <EdlinSoftware.MemoryCards.UI.Properties.Settings>
            <setting name="GameConfigFileName" serializeAs="String">
                <value>game_config.json</value>
            </setting>
            <setting name="GamesFolderName" serializeAs="String">
                <value>Games</value>
            </setting>
            <setting name="TimerIntervalInMilliseconds" serializeAs="String">
                <value>50</value>
            </setting>
        </EdlinSoftware.MemoryCards.UI.Properties.Settings>
    </applicationSettings>
</configuration>
